
        <!-- Footer -->
        <footer class="page-footer font-small blue bg-info mt-5">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/" class="text-danger "> ClecoTech.com</a>
          </div>
        </footer>
        <!-- Footer -->
